@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 28px;
}

h2 {
    color: #243e63;
    font-weight: 900;
    font-size: 26px;
}

div{
    display: block;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

header{
    display: block;
    margin-top: 40px;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold
}

ul {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.purple{
    color: #6415ff;
}

p{
    font-size: 12px;
}

.container{
    padding: 80px 0;
    margin: 30px;
}

/* 

Nav

*/

nav{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px 36px 0;
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    display: flex;
    align-items: center;
    margin-right: 24px;
    padding: 4px;
}

.nav__img {
    height: 40px;
    width: 40px;
    max-width: 100%;
    margin-right: 12px;
}

.logo__name {
    height: 44px;
    width: 133.398px;
    margin-right: 24px;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
}

li{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    list-style-type: none;
}

.nav__link {
    color: #243e63;
    font-size: 14px;
    font-weight: 600;
    margin: 4px 24px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.nav__link--login {
    color: #243e63;
    border-bottom: 2px solid transparent;
    margin: 4px 24px 0 48px;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 4px;
}

.nav__link--primary {
    font-size: 14px;
    font-weight: 600;
    background-color: #6415ff;
    color: white;
    padding: 10px 32px;
    border: 0px;
    border-radius: 9999px;
    transition: all 300ms ease;
}

/* 

Header

*/ 

.header__title{
    font-size:36px;
    color: rgb(26, 32, 44);
    font-weight: 700;
}

.header__description{
    width: 40%;
}

header .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 96px 0;
}

.header__para{
    font-size: 16px;
    color: rgb(36, 62, 99);
    margin: 32px 0;
    line-height: 24px;
}

.header__input--wrapper{
    position: relative;
    max-width: 448px;
    margin: 40px 0;
    border-color: rgb(226, 232, 240);
    color: rgb(226, 232, 240);
}

.header__input{
    padding: 20px 192px 20px 32px;
    border-radius: 9999px;
    border-style: solid;
    border-color: rgb(226, 232, 240);
    font-size: 100%;
    outline: none;
    width: 100%;
    transition: all 300ms ease;
    color: rgb(226, 232, 240);
}

.header__btn{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 160px;
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 21, 255);
    color: white;
    border: none;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 100%;
    margin-right: 8px;
    cursor: pointer;
    transition: all 300ms ease;
}

.customers__wrapper{
    margin-top: 80px;
}

.customers__para{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.6px;
    color: rgb(160, 174, 192);
}

.customers__img{
    width: 80%;
    opacity: 0.5;
    margin-top: 16px;
}

.header__img{
    margin-left: 100px;
    padding-right: 100px;
    width: 100%;
}

.header__img--wrapper{
    width: 60%;
}

/* 

Features

*/ 

main{
margin-top: 80px;
}


#features{
    display: flex;
}

.features__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.features__main--title{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.features__word{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    --tw-text-opacity: 1;
}

.features__title{
    padding-top: 26px;
    font-size: 50px;
    text-decoration: bold;
    letter-spacing: 0.03em;
}

.features__title--para{
    padding: 24px 0;
    font-size: 19px;
    text-align: center;
    color: #7C8BA1;
    line-height: 1.5;
    max-width: 550px;
    margin-bottom: 20px;
}

/*

Services

*/

.services{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 px;
}

.services__container{
    width: 100%;
 }

 .service{
    display: flex;
    width: calc(100%/3);
    padding: 24px 40px;
 }

 .services__img--wrapper{
     width: 66px;
     height: 66px;
     padding: 20px;
     border: 2px solid rgb(124, 139, 161, 0.2);
     border-radius: 50%;
  }

 .service__img{
        width: 24px;
 }

.service__content {
        margin-left: 20px;
}

.service__content--title {
    color: #243E63;
    font-size: 28px;
    margin-bottom: 16px;
}

.service__content--para {
    color: #7C8BA1;
    font-size: 18px;
    line-height: 1.7;
    max-width: 225px;
}

/* 

Quality Work

*/

.qw__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
}

.qw__main--title{
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.qw__word{
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    --tw-text-opacity: 1;
}

.qw__title{
    padding-top: 26px;
    font-size: 50px;
    text-decoration: bold;
    letter-spacing: 0.03em;
}

.qw__title--para{
    font-size: 1.12rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    letter-spacing: 0.6px;
    color: rgb(160, 174, 192);
    display: flex;
    align-items: center;
    padding: 14px 14px 14px 0;
    margin-top: 8px;
}

.qw__btn{
    position: relative;
    right: 0;
    top: 0;
    bottom: 0;
    width: 140px;
    height: 50px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 21, 255);
    color: white;
    border: none;
    border-radius: 9999px;
    font-weight: 700;
    font-size: 90%;
    margin-right: 8px;
    cursor: pointer;
    transition: all 300ms ease;
}

.section__wrapper{
    display: flex;
    align-items: center;
    padding: 28px 28px 28px 0;
}

.qw__img{
    width: 50%;
}